trigger: none # Configured via branch policies

pool:
  vmImage: 'ubuntu-latest'

variables:
  serviceConnection: 'Microsoft Azure Sponsorship (5c41ba40-6ca2-4e8a-9646-d3585df38b5a)' # As it stands in Azure DevOps

steps:
  - template: 'infra-build-tfp-steps.yml'
    parameters:
      stageCode: 'qa'
      azServiceConnection: '$(serviceConnection)'
      tfWorkingDirectory: '$(Build.SourcesDirectory)/WaterlooTemplate.DevOps/Terraform'
      tfBackendResourceGroupName: 'dcslgs-wt-infra-rg'
      tfBackendStorageAccountName: 'dcslgswtinfrastorage'
