.file-manager {
  h1 {
    font-size: 30px;
  }

  .folders-tree {
    float: left;
    width: 400px;
    margin-right: 20px;
  }

  .folder-breadcrumb {
    h4 {
      display: inline-block;
      font-size:inherit;
      font-weight: bold;
    }
  }

  .folder-content {
    .control-panel {
      margin-top: 5px;
      padding: 5px;
      background-color: #eeeeee;
      display: flex;
      flex-direction: row-reverse;
    }

    .folder-content-grid {
      .type-width {
        width: 34px;
      }
    }
  }

  .upload-file {
    .el-upload-list {
      display: none; //To hide the file upload status bar. Uncomment if needed
    }
  }

  .delete-file-modal {
    .delete-file-msg {
      overflow: hidden;
      text-overflow: ellipsis;

      .file-name {
        font-weight: bold;
      }
    }
  }

  .delete-folder-modal {
    .delete-folder-msg {
      overflow: hidden;
      text-overflow: ellipsis;

      .folder-name {
        font-weight: bold;
      }

      .warning {
        color: red;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}