@import '_variables.scss';
@import '_mixins.scss';

footer.footer {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    font-size: 14px;
    background-color: $footerBg;
    display: block;
    padding-right: 10px;


    & > .container-fluid {

        @media (min-width: 768px) {
            line-height: $footerHeight;
        }

        @media (max-width: 1400px) {
            text-align: center;
        }
    }
}

// Footer on Account pages (Login, Change Pass etc)
#page-account {
  footer {
    padding: 0;
    text-align: center;
    color: #333;
    font-size: 0.9rem;
    height: auto;
    padding-bottom: 3%;

    .container-fluid {
      line-height: 1.2rem;
    }

    a {
      color: #333;
      text-decoration: underline;
    }
  }
}