@import '_variables.scss';
@import '_mixins.scss';

ul, ol {
  list-style-position: inside;
  line-height: 1.2rem;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
    height: 100%;
    position: relative;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    line-height:1;
}

.page-body {
    position: relative;
    padding-top: 80px;
    padding-bottom: $footerHeight;
    max-width: $page-content-width;

    @if $setSidebar == true {

        @media (min-width: 992px) and (max-width: $hideSidebar) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    @media (max-width: 767px) {
        padding-top: 85px;
    }
}

blockquote {
  padding: 1rem;
  background: #f5f5f5;
  margin-bottom: 1rem;
}