@import '_variables.scss';
@import '_mixins.scss';

.navbar {
    background-color: $navbarBg;
    border-bottom: none;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);

    @if $setSidebar == true {

        .navbar-brand {
            @media (min-width: 1401px) {
                width: $sidebar-size;
                text-align: center;
                height: 63px;
                margin: -0.5rem 15px -0.5rem -16px;
            }
        }
    }

    .navbar-brand img {
        height: 53px;

        .st0 {
            fill: $navbarLogoBg;
        }
    }

    .navbar-nav {
        .nav-link {
            font-size: 1.03rem;
            font-weight: 400;

            &.active {
                font-weight: 500;
            }
        }
    }

    .dropdown-item {
        padding: .75rem 1.5rem;
        cursor: pointer;

        &.active, &:active, &:hover {
            background-color: $navbarDropdownLink;
            color: #fff;
        }
    }
}


// Animate burger menu icon switch to close icon
.hamburger-icon {
  width: 40px;
  zoom: 0.4;

  @media (min-width: 992px) {
    display:none;
  }
}

.hamburger-icon:after,
.hamburger-icon:before,
.hamburger-icon div,
.hamburger-icon-close:after,
.hamburger-icon-close:before,
.hamburger-icon-close div {
  background-color: white;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7.5px 0;
  transition: all .2s ease-in-out;
}

.hamburger-icon-close:before {
  transform: translateY(12px) rotate(135deg);
}

.hamburger-icon-close:after {
  transform: translateY(-12px) rotate(-135deg);
}

.hamburger-icon-close div {
  transform: scale(0);
}


// User options avatar and dropdown
#userNameButton {

  .dropdown-toggle {
    padding: 0.25rem;
    display: flex;
    align-items: center;

    .profileImage {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid white;
      background: $primary;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      #userAvatarText {
        text-transform: uppercase;
        font-size: 0.85rem;
      }
      #userAvatarImage {
        display:none;
      }

      .clip-circle {
        clip-path: circle(18px at center);
        width: 40px;
      }
    }
  }
}
@if $setUserAvatarImage == true {
  #userAvatarText {
    display:none;
  }
  #userAvatarImage {
    display:block!important;
  }
}
