@import '_variables.scss';
@import '_mixins.scss';

/*! Grid theme */
.e-grid {
    border: none;
    font-size: inherit;
    font-family: inherit;

    .e-multiselect.e-input-group.e-control-wrapper.e-checkbox {
      margin-bottom: 190px;
    }

    .e-toolbar {
        border: none;        
        background-color: white;
        .e-toolbar-items {
            background-color: white;
        }
    }
    .e-content, .e-table {
        background-color: #fff;
    }
    .e-gridcontent, .e-gridcontent .e-content {
        overflow-y: auto !important;
    }
    &:not(.e-row-responsive) .e-gridcontent tr.e-row:first-child .e-rowcell {
        vertical-align: text-top;
    }
    .e-rowcell:not(.e-editedbatchcell), 
    .e-detailrowcollapse:not(.e-editedbatchcell), 
    .e-detailrowexpand:not(.e-editedbatchcell), 
    .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell), 
    .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell), 
    .e-emptyrow:not(.e-editedbatchcell) {
        color: $body-color;
    }
    .e-gridheader {        
        border: none;
        tr th {            
            border: none;
            .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
                color: $gridHeaderColor;
            }
            &:not(:last-child) {
                border-right: solid 1px white;
            }
            .e-checkbox-wrapper {
                .e-frame.e-check {
                    background-color: $gridAccentInner;
                    color: $gridAccent;
                    padding-top: 4px;
                }
                .e-frame {
                    border: none;
                }
            }
           .e-sortfilterdiv.e-icons {
                float: none;
                position: absolute;
                right: 15px;
                top: calc(50% + 2px);
           }
           .e-filtermenudiv.e-icons.e-icon-filter {
                float: none;
                position: absolute;
                right: 15px;
                top: calc(50% + 2px);
           }
        }
        tr.e-columnheader th{
            background: $gridHeaderBackground;
            color: $gridHeaderColor;
        }    
          
        tr.e-filterbar th.e-filterbarcell {
            border: solid 1px #e0e0e0;
            border-left: none;
            border-right: none;
        }    
    }
    
    .e-gridcontent .e-btn {
        padding: 6px 0px 4px;        
        color: $primary;
        @include transition(all, 0.25s);
        &:hover {
            background-color: transparent;
            color: darken($color: $primary, $amount: 20%);
            text-decoration: underline;
        }
        &.e-icon-btn {
            padding: 6px 12px 4px;
            &:hover {
                text-decoration: none;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .e-pager {    
        line-height: 1rem;    
        div.e-icons {
            color: $body-color;
        }
        .e-currentitem, .e-pager .e-currentitem:hover {
            background: $gridPagerBackground;
            color: $gridPagerColor;
            opacity: 1;
            @include transition(color, 0.25s);
            &:hover {
                background: darken($color: $gridPagerBackground, $amount: 10%);
            }
        }
    }  

    .e-filtered::before {
        color: $dark !important;
    }
}

 //these are used for the filter popups as well as other syncfusion elements: calendar, dropdowns, checkboxes, input and input groups
 .e-tooltip-wrap.e-popup {
    border-color: $gridAccent !important;
    .e-tip-content {
        color: $gridAccent !important;
    }
    .e-arrow-tip-outer.e-tip-bottom {
        border-top: 8px solid $gridAccent;
    }
}

.e-date-wrapper .e-input-group-icon.e-date-icon.e-icons.e-active,
.e-datetime-wrapper .e-input-group-icon.e-icons.e-active,
.e-dropdownbase .e-list-item.e-active,
.e-dropdownbase .e-list-item.e-active.e-hover,
.e-list-item.e-active,
.e-list-item.e-active.e-hover,
.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    color: $gridAccent !important;
}

.e-btn.e-flat.e-primary:hover, 
.e-css.e-btn.e-flat.e-primary:hover {
    background-color: rgba($primary, 0.04);
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, 
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, 
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, 
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, 
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, 
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: $gridAccent !important;
}

.e-checkbox-wrapper .e-frame.e-check, 
.e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: $gridAccent;
}

.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
    background: $gridAccent !important;
}


.e-bigger.e-small .e-calendar,
.e-calendar .e-content {
    td.e-selected span.e-day {
        background-color: $gridAccent !important;
    }
    td.e-today.e-selected span.e-day
    {
        background-color: $gridAccent !important;
        border: 1px solid $gridAccent !important;
        box-shadow: inset 0 0 0 2px #fff;
        color: $gridAccentInner !important;
    }
    td.e-today span.e-day, 
    td.e-focused-date.e-today span.e-day
    {
        color: $gridAccent !important;
    }
    td.e-today.e-selected:hover span.e-day, 
    td.e-selected:hover span.e-day, 
    td.e-selected.e-focused-date span.e-day, 
    td.e-today.e-selected:hover span.e-day, 
    td.e-selected:hover span.e-day, 
    td.e-selected.e-focused-date span.e-day
    {
        background-color:  $gridAccent !important;
        color: $gridAccentInner !important;
    }
    td.e-today.e-selected span.e-day, 
    td.e-today.e-selected span.e-day {
        background-color: $gridAccent !important;
    }
    td.e-today span.e-day, 
    td.e-focused-date.e-today span.e-day, 
    td.e-today span.e-day, 
    td.e-focused-date.e-today span.e-day,
    td.e-today.e-selected span.e-day, 
    td.e-today.e-selected span.e-day {
        border-color: $gridAccent !important;
    }
}