@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@using Microsoft.AspNetCore.Mvc.Localization;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;

<footer class="footer">
    <div class="container-fluid">
        <p><span>Waterloo Template</span> - <span>@sharedLocalizer["Developed by"] <a href="https://www.one-beyond.com" target="_blank">One Beyond</a></span></p>
        <p><a href ="/privacypolicy">@sharedLocalizer["Privacy Policy"]</a> - <a href="/termsconditions">@sharedLocalizer["Terms & Conditions"]</a> - <a href="/cookiepolicy">@sharedLocalizer["Cookie Policy"]</a></p>
    </div>
</footer>
