@page
@using Newtonsoft.Json
@using OneBeyond.Studio.Obelisk.WebApi.Pages
@model IndexModel
@{
    Layout = "_Layout.cshtml";
    var userContext = @Model.UserContext;
    var userContextJsonString = JsonConvert.SerializeObject(
        userContext, 
        new JsonSerializerSettings
        {
            StringEscapeHandling = StringEscapeHandling.EscapeHtml
        });
}

@*Please do not remove this div, we use it in client scripts to detect if the app is displayed on the mobile screen (See EntityCrudMixin -> isMobile)*@
<div id="isMobileCheckDiv" class="hide-on-desktop"></div>

<user-context :user-context-json-string="'@userContextJsonString'">
</user-context>

<transition name="router-anim" mode="out-in" enter-active-class="route-transition-in" leave-active-class="route-transition-out">
    <router-view :key="$route.fullPath"></router-view>
</transition>
