<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dcslScaffolding" type="Waterloo.CodeGeneration.CrudScaffolderV7.ScaffoldingConfiguration, Waterloo.CodeGeneration.CrudScaffolderV7, Version=7.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <dcslScaffolding>
        <!--WARNING:  Ensure that this file is not open when performing scaffolding...  Otherwise it may try to reload the file during scaffolding then get confused about whether scaffolding is finished.-->
        <webApiLayer projectName="WaterlooTemplate.WebApi"
            namespace="WaterlooTemplate.WebApi" controllersNamespace="WaterlooTemplate.WebApi.Controllers"
            viewComponentsFolder="wwwroot\components" viewDataModelsFolder="wwwroot\js\dataModels" />
        <applicationLayer projectName="WaterlooTemplate.Application"
            namespace="WaterlooTemplate.Application" commandHandlersFolder="CommandHandlers"
            commandHandlersNamespace="WaterlooTemplate.Application.CommandHandlers"
            queryHandlersFolder="QueryHandlers" queryHandlersNamespace="WaterlooTemplate.Application.QueryHandlers"
            validatorsNamespace="WaterlooTemplate.Application.Validators"
            validatorsFolder="Validators" />
        <domainLayer projectName="WaterlooTemplate.Domain" namespace="WaterlooTemplate.Domain"
            entitiesNamespace="WaterlooTemplate.Domain.Entities" dtosPath="Dto"
            dtosNamespace="WaterlooTemplate.Domain.Dto" mappingsNamespace="WaterlooTemplate.Domain.Mappings"
            mappingsFolder="Mappings">
            <entityFolders>
                <add folderName="Entities" />
            </entityFolders>
        </domainLayer>
        <infrastructureLayer projectName="WaterlooTemplate.Infrastructure"
            namespace="WaterlooTemplate.Infrastructure" entityConfigurationsFolder="Data\Configurations"
            dBContextName="DomainContext" dataFolder="Data" />
        <testLayer namespace="" />
        <templateFolder folderName="Templates" />
    </dcslScaffolding>
</configuration>