
@import '../_components/_variables.scss';
@import '../_components/_mixins.scss';



@page {
    size: auto;
    margin: 1.5cm;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    .page-body {
        padding: 0;
    }

    #main-menu,
    #sidebar-left,
    #sidebar-mask,
    .title-bar,
    footer.footer {
        display: none !important;
    }

    .card.content-panel {
        border: none;
        box-shadow: none;
        margin-bottom: 2cm;

        .card-title {
            margin-bottom: 1cm;
            font-weight: 400;
            font-size: 2rem;
            color: $pageTitleColor;
        }

        .card-body {
            padding: 0;
        }
    }
}
