@import '../_components/_variables.scss';
@import '../_components/_mixins.scss';

#page-account {
  background: #999;

  .account-box {
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
    padding: 2rem;

    @media (max-width: 420px) {
      width: 80% !important;
    }

    @media (max-width: 575px) {
      box-shadow: none;
    }

    .form-check-input {
      margin-top: 0;
    }

    &.login-box, &.change-password-box {
      width: 350px;
      margin-bottom: 10%;
    }

    &.policy-box {
      max-width: 800px;
      width: 100%;
      margin-bottom: 140px;
    }

    &.policy-box > p {
      line-height: 1.625;
      text-rendering: optimizeLegibility;
    }

    &.policy-box > ul {
      line-height: 1.625;
      text-rendering: optimizeLegibility;
    }

    &.change-password-box {
      width: 400px;
    }

    h1 {
      font-size: 20px;
      margin-bottom: 25px;
    }

    .logo {
      margin-bottom: 25px;
    }

    #submit-btn {
      width: 100%;
      background-color: $themeColour;
      border-color: $themeColour;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($themeColour, 0.25);
      }
    }
  }
}
