name: "Report Test Results"

on:
  workflow_run:
    workflows: ["Check PR - Web API"]
    types: [completed]

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v1
        with:
          artifact: "test-results"
          name: "Test Results"
          path: "**/TestResults/*.trx"
          reporter: "dotnet-trx"
